<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
    {{template "navbar" .User}}
    {{ if .Message }}
	<p>{{ .Message }}</p>
    {{ end }}
    <p>
        <form method="post" action="/photos/add" enctype="multipart/form-data">
        <div class="form-group">
            <label for="inputFiles">Upload</label>
            <input name="photos" id="inputFiles" type="file" multiple/>
            <p class="help-block">Max 10MB.</p>
        </div>
        <div class="form-group">
          <label for="note">Nota/comentariu</label>
          <input name="note" id="note" type="text" value="" />
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </p>
</body>
</html>