{{define "navbar" -}}
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/albums">albums</a></li>
      <li><a href="/photos">photos</a></li>
      <li><a href="/photos/add">add photos</a></li>
    </ul>
  </div>
</nav>
</div>
{{- end }}
