<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
</head>
<body>
    <div>
        <a href="/albumes">albumes</a>
        <a href="/albumes/add">+</a>
    </div>
    <div>
        <a href="/photos">photos</a>
        <a href="/photos/add">+</a>
    </div>
</body>
</html>