<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
    <div>
        <a href="/albums">albums</a>
        <a href="/albums/add">+</a>
    </div>
    <div>
        <a href="/photos">photos</a>
        <a href="/photos/add">+</a>
    </div>
</body>
</html>